body{
  height: 1000px;
  
}

.header{
  height:80px;
  display:grid;
  grid-template-columns: 200px 1fr;
  background-color: white;
}
.first-pic{
  position: fixed;
  height:80px;
  width:200px;
  background-color: lightblue;
}
.top-bar{
  height:80px;
  display: grid;
  position: fixed;
  grid-template-columns: 80px 80px 80px 80px 80px 80px;
  right: 80px;
  left: 300px;
}
.commands{
  border-style: solid;
  border-width: 1px;
  border-color: black;
  background-color: lightblue;  
}
.info-pic-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 500px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url(about-us-page-pics/body-page-pic.jpg);

  background-size: cover;
  position: relative;  
}

.info-container{
  color: white;
}
.pic-container{
  width: 400px; /* Set your desired width */
  height: 300px; /* Set your desired height */
  position: relative;
  overflow: hidden;
}
.pic-container img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  
}

.first-text{
  height: 70px;
  color: white;
  background-color: #004C97;
  margin:0;
}
.first-text-paragraph{
  margin:0;
  padding-left: 60px;
  padding-top: 20px;
  font-style:oblique;
  font-size: larger;
  font-weight: bold;
  
}

