body{
  height: 1000px;
}
.header{
  height:80px;
  display:grid;
  grid-template-columns: 200px 1fr;
  background-color: white;
}
.first-pic{
  position: fixed;
  height:80px;
  width:200px;
  background-color: lightblue;
}
.top-bar{
  height:80px;
  display: grid;
  position: fixed;
  grid-template-columns: 80px 80px 80px 80px 80px 80px;
  right: 80px;
  left: 300px;
}
.commands{
  border-style: solid;
  border-width: 1px;
  border-color: black;
  background-color: lightblue;  
}
.front-img{
  height:300px;
  background-color: lightpink;  
}

.second-section{
  
  margin-top: 15px;
  height:400px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.inside-second-section{
  margin-right:15px;
  background-color: lightgreen;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.logo-bar{
  margin-top: 15px;
  height: 70px;
  background-color: lightsalmon;
}

.nav-bar{
  height: 80px;
  background-color: lightseagreen;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  
}
.about-us-pic{
  background-image: url('logos/about_us_2.jpg');
  background-size: cover; 
  background-position:center;
  background-repeat: no-repeat;
  position: relative;
}
.our-business{
  background-image: url('logos/OUR-BUSINESS_04.jpg');
  background-size: cover; 
  background-position:center;
  background-repeat: no-repeat;
}
.supply-chain{
  background-image: url('logos/garment-accessory-feat-.jpg');
  background-size: cover; 
  background-position:center;
  background-repeat: no-repeat;
}
.social-ethics{
  background-image: url('logos/about_us_3.jpg');
  background-size: cover; 
  background-position:center;
  background-repeat: no-repeat;

}

.about-us-text{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  
}