body{
  height: 2000px;
  
}
p{
  font-family: sans-serif;
}
.header{
  /* height:80px;
  display:grid;
  grid-template-columns: 200px 1fr;
  background-color: blue;
  position: fixed;
  top:0px;
  z-index: 100; */
  height: 80px;
  display: flex;
  align-items: center; /* Center items vertically */
  background-color: white;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 100;
}
.first-pic{ 
  height:80px;
  width:200px; 
  cursor: pointer; 
}
.first-pic img{
  max-width: 100%;
  max-height: 100%;
}
.top-bar{
  /* height:80px;
  display:grid;
  position: fixed;
  justify-content: space-around;
  right: 80px;
  left: 300px;
  grid-template-columns: 80px 80px 80px 80px 80px 80px; */
  height: 80px;
  display: flex;
  justify-content: space-around;
  flex: 1; /* Allow top-bar to take the remaining space */
  margin-left: 20px;
  
}
.commands{
  
  /* border-width: 1px;
  border-color: black;
  border-right: 1px hidden; */
  display: flex;
  align-items: center;
  
  padding: 0 10px;
  cursor:pointer;
  
  
    
}
.command-text{
  padding-left: 5px;
  color: #6f42c1; /* Medium Purple */
  transition: color 0.3s ease;
}
.command-text:hover{
  color: #563d7c;;
}

.active{
  font-style: bold;
  font-weight: bold;
  color:hotpink;
}

.info-pic-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 400px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url(about-us-page-pics/body-page-pic.jpg);

  background-size: cover;
  position: relative;
  top: 71px;  
}

.info-container{
  color: white;
}
.pic-container{
  width: 400px; /* Set your desired width */
  height: 300px; /* Set your desired height */
  position: relative;
  overflow: hidden;
}
.pic-container img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  
}
.first-paragraph{
  height: 70px;
  color: white;
  background-color: #004C97;
  margin:0;
  position: relative;
  
  
  
}
.first-paragraph-text{
  margin:0;
  padding-left: 400px;
  padding-top: 20px;
  font-style:oblique;
  font-size: larger;
  font-weight: bold;
}

.commited-info-pic-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 400px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url(about-us-page-pics/body-page-pic.jpg);

  background-size: cover;
  position: relative;
    
}

.commited-info-container{
  color: white;
}
.commited-pic-container{
  width: 400px; 
  height: 300px; 
  position: relative;
  overflow: hidden;
}
.commited-pic-container img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  
}
.nav-bar{
  height: 80px;
  background-color: lightseagreen;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  
}

.nav-bar{
  height: 80px;
  background-color: #004C97;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  position: relative;
  
  
}

.nav-bar-commands{  
  display: flex;
  align-items: center;
  justify-content: center;
  cursor:pointer;   
  border-right: black;
  border-width: 1px;
  border-style: groove;
  text-align: center;
  color: white;  

}
.nav-bar :hover{
  background-color: #002750;
  transition: .25s;
}